
Date: 11/05/2018

Version: 1.0

Environment: Python 3 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment here, e.g.,:
* pandas (for dataframe, included in Anaconda Python 2.7) 
* re (for regular expression, included in Anaconda Python 2.7) 
* numpy (for numpy array, included in Anaconda Python 2.7) 
* sklearn (for linear regression)
* difflib (for transfor date type)

### Due to large dataset, some cells will take 30s for running

## 1.  Import libraries

In [1]:
import pandas as pd
import numpy as np
import re
from difflib import SequenceMatcher

## 2. Parse File

In [2]:
ufo = pd.read_csv("dataset1_with_error.csv")

In [3]:
ufo.describe(include= "O")

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,25077,25077,25077,25077,21242,25077,25077,25077,25077,25077
unique,25077,482,3,3,4879,8,1589,90,2203,2400
top,Contract SAS Programmer,UK,not available,permanent,UKStaffsearch,IT Jobs,35004,totaljobs.com,20130127T150000,20130526T120000
freq,1,3996,19499,16194,248,7085,1011,5335,27,23

In [4]:
ufo.info()
# type error: datatype of "salary" "opendate and close date"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21242 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null object
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(1), object(10)
memory usage: 2.1+ MB

### a. Fill all NaN in Company based on the most Category


I didnt impute the missing values in the end cause it seems not in requirement of task 1

In [5]:
# ufo['Category'].value_counts()

In [6]:
# ufo.Company[ufo['Category']== "IT Jobs"] = ufo.Company[ufo['Category']== "IT Jobs"].fillna(value='Computer People')
# ufo.Company[ufo['Category']== "Healthcare & Nursing Jobs"] = ufo.Company[ufo['Category']== "Healthcare & Nursing Jobs"].fillna(value='Populus Healthcare')
# ufo.Company[ufo['Category']== "Engineering Jobs"] = ufo.Company[ufo['Category']== "Engineering Jobs"].fillna(value='Randstad')
# ufo.Company[ufo['Category']== "Accounting & Finance Jobs"] = ufo.Company[ufo['Category']== "Accounting & Finance Jobs"].fillna(value='Idex Consulting')
# ufo.Company[ufo['Category']== "Sales Jobs"] = ufo.Company[ufo['Category']== "Sales Jobs"].fillna(value='Penguin Recruitment')
# ufo.Company[ufo['Category']== "Hospitality & Catering Jobs"] = ufo.Company[ufo['Category']== "Hospitality & Catering Jobs"].fillna(value='Chef Results')
# ufo.Company[ufo['Category']== "Teaching Jobs"] = ufo.Company[ufo['Category']== "Teaching Jobs"].fillna(value='Hays')
# ufo.Company[ufo['Category']== "PR, Advertising & Marketing Jobs"] = ufo.Company[ufo['Category']== "PR, Advertising & Marketing Jobs"].fillna(value='Michael Page Marketing')

In [7]:
# ufo.Company[ufo['Category']== "IT Jobs"].value_counts(dropna = False)
# ufo.Company[ufo['Category']== "Healthcare & Nursing Jobs"].value_counts(dropna = False)
# ufo.Company[ufo['Category']== "Engineering Jobs"].value_counts(dropna = False)
# ufo.Company[ufo['Category']== "Accounting & Finance Jobs"].value_counts(dropna = False)
# ufo.Company[ufo['Category']== "Sales Jobs"].value_counts(dropna = False)
# ufo.Company[ufo['Category']== "Hospitality & Catering Jobs"].value_counts(dropna = False)
# ufo.Company[ufo['Category']== "Teaching Jobs"].value_counts(dropna = False)
#ufo.Company[ufo['Category']== "PR, Advertising & Marketing Jobs"].value_counts(dropna = False)

### b. Salary

In [8]:
#ufo['Salary per annum'] = ufo['Salary per annum'].astype(str)

In [30]:
# make the consistence of salary type
s = pd.Series(ufo['Salary per annum'])
# change all types of "xxK" to "xx000"
par1 = re.compile('\d{2}K')
for i in range(len(s)):
    if re.findall(par1, s[i]):
        s[i] = s[i][:-1]
        s[i]= s[i] + "000"
    
dfff = pd.DataFrame(s)
#dfff.ix[4070:4100, 0]
ufo['Salary per annum'] = ufo['Salary per annum'].str.extract('(\d*)', expand = True)
ufo.ix[3920:4000, 7]

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]

3920    45000
3921    17004
3922    39996
3923    24996
3924    15996
3925    16500
3926    24996
3927    19003
3928    39996
3929    54996
3930    52500
3931    60000
3932    32496
3933    28800
3934    35004
3935    35004
3936    24996
3937    29496
3938    20004
3939    24996
3940    32496
3941    21120
3942    30000
3943    23040
3944    30996
3945    21120
3946    35004
3947    33996
3948    42504
3949    33996
        ...
3971    15000
3972    24000
3973    52246
3974    26496
3975    21000
3976    13440
3977    17004
3978    24996
3979    29496
3980    21996
3981    18000
3982    35004
3983    35592
3984    20004
3985    20004
3986    24960
3987    55824
3988    60000
3989    29220
3990    49920
3991    20004
3992    51504
3993    42000
3994    32496
3995    16320
3996    37500
3997    33996
3998    47496
3999    31500
4000    37500
Name: Salary per annum, Length: 81, dtype: object

### c. Date

In [10]:
df_open_date = ufo['OpenDate'].apply(lambda s: pd.Series({'OpenDate' : s.split('T')[0] + s.split('T')[1]
                                                    }))
#separate the date and time

In [11]:
df_close_date = ufo['CloseDate'].apply(lambda s: pd.Series({'CloseDate' : s.split('T')[0] + s.split('T')[1]}))

In [12]:
# find out all the error values
l = []
for i in range(len(df_open_date)):
        if pd.to_numeric(df_open_date.OpenDate[i][4:6]) not in range(1,13):
            l.append(i)
            print(i, df_open_date.OpenDate[i])

1102 20131803120000
2104 20132606000000
2839 20122003150000
5707 20121512150000
10881 20133004150000
11948 20131908000000
15353 20121406120000
22918 20131509000000
23007 20132901150000
23169 20132108120000

In [13]:
# find out all "Opendate" larger than "Closedate" values
for i in range(len(ufo.OpenDate)):
    if ufo.OpenDate[i] > ufo.CloseDate[i] and i not in l:
        print(i,ufo.OpenDate[i], ufo.CloseDate[i])

6659 20130703T000000 20130404T000000
9568 20120306T000000 20120205T000000
11043 20131105T000000 20131006T000000
12473 20131222T150000 20131023T150000
19142 20120803T150000 20120505T150000
24206 20130622T150000 20130324T150000
24297 20130116T000000 20121018T000000
25039 20130708T120000 20130608T120000

In [14]:
# fix the errors of "Opendate" larger than "Closedate" values
df_open_date.OpenDate[6659], df_close_date.CloseDate[6659] = df_close_date.CloseDate[6659], df_open_date.OpenDate[6659]
df_open_date.OpenDate[9568], df_close_date.CloseDate[9568] = df_close_date.CloseDate[9568], df_open_date.OpenDate[9568]
df_open_date.OpenDate[11043], df_close_date.CloseDate[11043] = df_close_date.CloseDate[11043], df_open_date.OpenDate[11043]
df_open_date.OpenDate[12473], df_close_date.CloseDate[12473] = df_close_date.CloseDate[12473], df_open_date.OpenDate[12473]
df_open_date.OpenDate[19142], df_close_date.CloseDate[19142] = df_close_date.CloseDate[19142], df_open_date.OpenDate[19142]
df_open_date.OpenDate[24206], df_close_date.CloseDate[24206] = df_close_date.CloseDate[24206], df_open_date.OpenDate[24206]
df_open_date.OpenDate[24297], df_close_date.CloseDate[24297] = df_close_date.CloseDate[24297], df_open_date.OpenDate[24297]
df_open_date.OpenDate[25039], df_close_date.CloseDate[25039] = df_close_date.CloseDate[25039], df_open_date.OpenDate[25039]

In [15]:
# fix the errors changing the position of day and month
df_open_date.OpenDate[1102] = '20130308120000'
df_open_date.OpenDate[2104] = '20130626000000'
df_open_date.OpenDate[2839] = '20120320150000'
df_open_date.OpenDate[5707] = '20121215150000'
df_open_date.OpenDate[10881] = '20130430150000'
df_open_date.OpenDate[11948] = '20130819000000'
df_open_date.OpenDate[15353] = '20120614120000'
df_open_date.OpenDate[22918] = '20130915000000'
df_open_date.OpenDate[23007] = '20130129150000'
df_open_date.OpenDate[23169] = '20130821120000'

In [16]:
# change to date type
from dateutil.parser import parse
for i in range(len(df_open_date)):
    df_open_date.OpenDate[i] = parse(df_open_date.OpenDate[i])

In [17]:
#df_open_date.OpenDate

In [18]:
# find out all the error values
for i in range(len(df_close_date)):
        if pd.to_numeric(df_close_date.CloseDate[i][4:6]) not in range(1,13):
            print(i, df_close_date.CloseDate[i])

In [19]:
from dateutil.parser import parse
for i in range(len(df_close_date)):
    df_close_date.CloseDate[i] = parse(df_close_date.CloseDate[i])

In [20]:
ufo.drop(ufo.columns[9:11], axis = 1, inplace = True)
ufo = pd.concat([ufo,df_open_date, df_close_date], axis = 1)
#ufo.head()

### d. Contract Type

In [21]:
# replace incorrect contract type with description
ufo.ContractType.replace("not available", "non-specified", inplace = True)
ufo.ContractType.replace(['full_time','part_time'], ['full-time','part-time'], inplace = True)

ufo.ContractType.value_counts(dropna= False)

non-specified    19499
full-time         4883
part-time          695
Name: ContractType, dtype: int64

### e . ContractTime

In [22]:
# replace incorrect contract time with description
ufo.ContractTime.replace("not available", "non-specified", inplace = True)
ufo.ContractTime.value_counts(dropna = False)

permanent        16194
non-specified     6212
contract          2671
Name: ContractTime, dtype: int64

### f. Location

In [23]:
#check any Lexical errors in Location by similarity checking
def check_similarity(a,b):
    return SequenceMatcher(None, a,b).ratio()
location = list(ufo['Location'].unique())
location.sort()
for index, i in enumerate(location):
    for j in location[index+1:]:
        if check_similarity(i,j) > 0.90:
            print(i+":"+j)

Herefordshire:Hertfordshire
Nottingham:Nottinham
Oxford:Oxfords
Surey:Surrey

After checking those places, the last three are lexical errors

In [24]:
# Lexical errors
ufo.Location.replace(['Nottinham','Oxfords','Reeding','Surey'],
                     ['Nottingham','Oxford','Reading','Surrey'], inplace = True)

### g. Source name

In [25]:
# check any errors in SourceName
source_name = list(ufo.SourceName.unique())
source_name.sort()
source_name

['3desk.com',
 'OilCareers.com',
 'accountancyagejobs.com',
 'actuaryjobs.co.uk',
 'admin@caterer.com',
 'britishjobsonthe.net',
 'cardandpaymentjobs.com',
 'careerbuilder.com',
 'careersinaudit.com',
 'careworx.co.uk',
 'caterer.com',
 'cityjobs.com',
 'contractjobs.com',
 'cv-library.co.uk',
 'cvbrowser.com',
 'cwjobs.co.uk',
 'emedcareers.com',
 'emptylemon.co.uk',
 'energygenerationjobs.com',
 'eventjobsearch.co.uk',
 'fish4.co.uk',
 'frontofficebanking.com',
 'gojobsearch.co.uk',
 'gorkanajobs.co.uk',
 'grb.uk.com',
 'hays.co.uk',
 'hotrecruit.com',
 'icaewjobs.com',
 'ifaonlinejobs.co.uk',
 'insurancejobs.co.uk',
 'jobcareer',
 'jobg8.com',
 'jobs.bighospitality.co.uk',
 'jobs.catererandhotelkeeper.com',
 'jobs.chinwag.com',
 'jobs.electronicsweekly.com',
 'jobs.gponline.com',
 'jobs.guardian.co.uk',
 'jobs.newstatesman.com',
 'jobs.opticianonline.net',
 'jobs.perl.org',
 'jobs.planningresource.co.uk',
 'jobs.scot.nhs.uk',
 'jobs.telegraph.co.uk',
 'jobs4medical.co.uk',
 'jobserve.com',
 'jobsfinancial.com',
 'jobsincredit.com',
 'jobsineducation.co.uk',
 'jobsinrisk.com',
 'jobsinscotland.com',
 'jobsinsocialwork.co.uk',
 'jobsite.co.uk',
 'jobstoday.co.uk',
 'juniorbroker.com',
 'justengineers.net',
 'legalprospects.com',
 'london4jobs.co.uk',
 'londonjobs.co.uk',
 'mediaweekjobs.co.uk',
 'michaelpage.co.uk',
 'monashstudent',
 'myjobs.cimaglobal.com',
 'nijobfinder.co.uk',
 'nijobs.com',
 'nurseryworldjobs.co.uk',
 'onlineinsurancejobs.co.uk',
 'onlymarketingjobs.com',
 'planetrecruit.com',
 'professionalpensionsjobs.com',
 'randstadfp.com',
 'rcnbulletinjobs.co.uk',
 'renewablescareers.com',
 'rengineeringjobs.com',
 'salestarget.co.uk',
 'scotsman.com',
 'securityclearedjobs.com',
 'simplymarketingjobs.co.uk',
 'simplysalesjobs.co.uk',
 'staffnurse.com',
 'strike-jobs.co.uk',
 'technojobs.co.uk',
 'thecareerengineer.com',
 'thegraduate.co.uk',
 'theitjobboard.co.uk',
 'tntjobs.co.uk',
 'totaljobs.com',
 'ukstaffsearch.com',
 'wikijob.co.uk',
 'workthing.com']

The wrong SourceName are "admin@caterer.com" and "monashstudent"

In [26]:
ufo.SourceName.replace(['admin@caterer.com','monashstudent'],['caterer.com', 'monash.com'], inplace = True)

In [29]:
ufo

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,2012-11-03 00:00:00,2012-12-03 00:00:00
1,12612830,Stress Engineer Glasgow,Glasgow,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,2013-01-08 15:00:00,2013-04-08 15:00:00
2,12612844,Modelling and simulation analyst,Hampshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,2013-07-26 15:00:00,2013-09-24 15:00:00
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,2012-12-14 00:00:00,2013-03-14 00:00:00
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,2013-10-25 00:00:00,2013-12-24 00:00:00
5,19047429,Trainee Mortgage Advisor East Midlands,East Midlands,non-specified,permanent,Brite Recruitment,Accounting & Finance Jobs,21000,cv-library.co.uk,2012-07-24 00:00:00,2012-09-22 00:00:00
6,20199757,"PROJECT ENGINEER, PHARMACEUTICAL",Witney,non-specified,permanent,MatchBox Recruiting Ltd,Healthcare & Nursing Jobs,37500,cv-library.co.uk,2013-03-28 12:00:00,2013-04-27 12:00:00
7,20797143,Chef de Partie Award Winning Restaurant Exce...,Derby,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,15996,caterer.com,2013-10-27 00:00:00,2013-12-26 00:00:00
8,22579462,Quality Engineer,Gateshead,non-specified,permanent,Asset Appointments,Engineering Jobs,21996,cv-library.co.uk,2013-08-15 00:00:00,2013-09-14 00:00:00
9,22933091,Chef de Partie Award Winning Dining Live In ...,UK,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,18000,caterer.com,2012-08-14 00:00:00,2012-08-28 00:00:00
10,23528672,Senior Fatigue and Damage Tolerance Engineer,Avon,non-specified,permanent,Gregory Martin International,Engineering Jobs,39504,cv-library.co.uk,2013-10-19 12:00:00,2013-11-18 12:00:00
11,23529949,C I Design Engineer,Wolverhampton,non-specified,permanent,Rullion Engineering Ltd,Engineering Jobs,33504,cv-library.co.uk,2012-12-11 12:00:00,2013-01-10 12:00:00
12,23530231,Lead Engineers (Stress),UK,non-specified,permanent,Gregory Martin International,Engineering Jobs,39504,cv-library.co.uk,2012-11-13 12:00:00,2013-02-11 12:00:00
13,24104334,"Relief Chef de Partie Croydon, Surrey Live in",UK,non-specified,non-specified,Towngate Personnel,Hospitality & Catering Jobs,17280,caterer.com,2013-10-29 00:00:00,2013-11-28 00:00:00
14,24835524,Senior Control and Instrumentation Engineer,Berkshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,41496,cv-library.co.uk,2012-12-14 00:00:00,2013-01-13 00:00:00
15,24835548,Control and Instrumentation Engineer,Berkshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,31500,cv-library.co.uk,2012-07-09 12:00:00,2012-08-08 12:00:00
16,24854800,Electrical / ICA Engineer,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,32496,cv-library.co.uk,2013-02-05 00:00:00,2013-03-07 00:00:00
17,25337172,Pastry Chef for **** red star **** rosette hot...,North East England,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,24000,caterer.com,2013-06-10 00:00:00,2013-08-09 00:00:00
18,25452606,CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...,North Yorkshire,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,15996,caterer.com,2013-08-25 00:00:00,2013-09-24 00:00:00
19,25452680,"Senior Sous Chef for **** rosette kitchen, up ...",North East England,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,26004,caterer.com,2012-01-01 12:00:00,2012-01-15 12:00:00
20,25556432,"General Manager Funky, Cool Restaurant Concep...",East Sheen,non-specified,non-specified,Bee Recruitment London Ltd,Hospitality & Catering Jobs,31500,caterer.com,2013-09-26 12:00:00,2013-10-26 12:00:00
21,25892031,MICE Sales and Marketing Manager,Buckinghamshire,non-specified,non-specified,Chess Partnership,Hospitality & Catering Jobs,30000,caterer.com,2012-08-25 12:00:00,2012-10-24 12:00:00
22,27527047,C/C++ Developer,London,non-specified,permanent,Indigo 21 Ltd,IT Jobs,32496,cv-library.co.uk,2012-05-19 15:00:00,2012-06-18 15:00:00
23,27527050,Senior PHP Developer,Central London,non-specified,permanent,Indigo 21 Ltd,IT Jobs,45000,cv-library.co.uk,2012-06-23 15:00:00,2012-08-22 15:00:00
24,27527063,Senior Website Designer,York,non-specified,permanent,Indigo 21 Ltd,IT Jobs,24996,cv-library.co.uk,2013-08-10 00:00:00,2013-09-09 00:00:00
25,27527077,Business Development Manager,Newcastle Upon Tyne,non-specified,permanent,Asset Appointments,IT Jobs,21000,cv-library.co.uk,2012-02-28 15:00:00,2012-04-28 15:00:00
26,27739522,Welwyn Chef de Partie does it get any better t...,UK,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,18000,caterer.com,2013-01-06 12:00:00,2013-03-07 12:00:00
27,27740574,Pastry Chef AL**** ****AA Rosette Restaurant,UK,non-specified,non-specified,Clear Selection,Hospitality & Catering Jobs,18996,caterer.com,2012-03-20 12:00:00,2012-04-03 12:00:00
28,27754996,QA Engineer,Cambridge,non-specified,permanent,Indigo 21 Ltd,IT Jobs,30000,cv-library.co.uk,2013-05-31 15:00:00,2013-07-30 15:00:00
29,28059808,Documentation Engineer,Manchester,non-specified,contract,Rullion Engineering Ltd,Engineering Jobs,48000,cv-library.co.uk,2013-08-18 12:00:00,2013-09-17 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...
25047,69228656,Validation Engineer: IOT,Bristol,full-time,permanent,European Recruitment,IT Jobs,52500,fish4.co.uk,2012-01-09 15:00:00,2012-03-09 15:00:00
25048,69228674,RF Design and Customer Support,UK,full-time,permanent,European Recruitment,IT Jobs,82560,fish4.co.uk,2012-06-05 00:00:00,2012-08-04 00:00:00
25049,69228685,Technical Sales Engineer Deburring tools,UK,full-time,permanent,ETS Technical Selection,IT Jobs,32496,fish4.co.uk,2013-11-28 15:00:00,2014-01-27 15:00:00
25050,69228842,Senior Internal Audior,UK,full-time,permanent,Hydrogen UK Limited,Accounting & Finance Jobs,47496,fish4.co.uk,2013-07-06 12:00:00,2013-09-04 12:00:00
25051,69228969,"Business Development, P/T F/T, Flexible hours,...",UK,full-time,permanent,Orion Business Management,Healthcare & Nursing Jobs,37500,fish4.co.uk,2012-06-17 15:00:00,2012-07-17 15:00:00
25052,69229164,Account Manager (No Sales),Birmingham,full-time,permanent,The Selection Partnership Ltd,"PR, Advertising & Marketing Jobs",18000,fish4.co.uk,2012-03-06 12:00:00,2012-04-05 12:00:00
25053,69229283,Design and Applications Engineer,UK,full-time,permanent,Interaction Recruitment plc,Engineering Jobs,39996,fish4.co.uk,2012-10-10 00:00:00,2013-01-08 00:00:00
25054,69229354,Part Time/Full Time Business Development Work ...,Newcastle Upon Tyne,full-time,permanent,Orion Business Management,Healthcare & Nursing Jobs,27504,fish4.co.uk,2013-06-04 15:00:00,2013-09-02 15:00:00
25055,69229412,Financial Controller temporary to permanent,Wirral,full-time,permanent,Gleeson Accountancy Recruitment Ltd,Accounting & Finance Jobs,54996,fish4.co.uk,2012-11-13 15:00:00,2012-12-13 15:00:00
25056,69229439,ICT Trainer (Vocational Training / IT Assessor...,Wetherby,part-time,permanent,Blue Octopus Recruitment Ltd,IT Jobs,25704,fish4.co.uk,2013-06-23 12:00:00,2013-09-21 12:00:00
25057,69229454,Education and Training Manager,UK,full-time,permanent,ATOM Education Limited,Teaching Jobs,45996,fish4.co.uk,2012-08-06 15:00:00,2012-09-05 15:00:00
25058,69229665,Storage Engineer,Birmingham,full-time,permanent,Monarch Recruitment,IT Jobs,45000,fish4.co.uk,2013-06-05 12:00:00,2013-09-03 12:00:00
25059,69229697,Principle Java Developer,Manchester,full-time,permanent,Hays North West,IT Jobs,42504,fish4.co.uk,2013-08-27 12:00:00,2013-10-26 12:00:00
25060,69229714,Analytical Consultant,Oxford,full-time,permanent,Hi Calibre Personnel Ltd,Sales Jobs,32004,fish4.co.uk,2012-08-12 15:00:00,2012-10-11 15:00:00
25061,69229773,System Administrator Windows Exchange SQL,Tunbridge Wells,full-time,permanent,Monarch Recruitment,IT Jobs,45000,fish4.co.uk,2012-03-26 00:00:00,2012-04-25 00:00:00
25062,69229778,Junior Drainage Engineer PDS Microdrainage,UK,full-time,permanent,Hays TCE Jobs,Engineering Jobs,20004,fish4.co.uk,2013-12-07 00:00:00,2014-03-07 00:00:00
25063,69229815,Head of Research Development,UK,full-time,permanent,Hays North West,IT Jobs,48504,fish4.co.uk,2012-08-12 00:00:00,2012-11-10 00:00:00
25064,69229843,"Performance Test Consultant SoapUI, LoadUI",UK,full-time,permanent,Monarch Recruitment,IT Jobs,15120,fish4.co.uk,2013-06-27 12:00:00,2013-07-27 12:00:00
25065,69229860,Rational Performance Tester Test Consultant,Tewkesbury,full-time,permanent,Monarch Recruitment,IT Jobs,66000,fish4.co.uk,2012-02-17 12:00:00,2012-03-18 12:00:00
25066,69229954,Fibre Laser Physicists / Engineers (Graduate t...,UK,full-time,permanent,RE & M Ltd,IT Jobs,32496,fish4.co.uk,2012-07-09 12:00:00,2012-10-07 12:00:00
25067,69230008,PCV Technician / Bus Mechanic,Chelmsford,full-time,permanent,DrivingGB,Engineering Jobs,32004,fish4.co.uk,2012-03-01 00:00:00,2012-04-30 00:00:00
25068,69230029,Relationship Executive,Sevenoaks,full-time,permanent,Support Services Group,Sales Jobs,24000,fish4.co.uk,2013-07-04 12:00:00,2013-10-02 12:00:00
25069,69230036,Cosmetic Regional Manager,Edinburgh,full-time,permanent,Support Services Group,Healthcare & Nursing Jobs,52500,fish4.co.uk,2012-01-12 00:00:00,2012-04-11 00:00:00
25070,69230142,Retail Bank Modelling Manager,Edinburgh,full-time,permanent,CMC Consulting,Accounting & Finance Jobs,47496,fish4.co.uk,2013-01-23 00:00:00,2013-04-23 00:00:00
25071,69230323,"Business Analyst, Retail Ecommerce, Reading, B...",Reading,full-time,permanent,The People Network,IT Jobs,47496,fish4.co.uk,2013-06-03 12:00:00,2013-09-01 12:00:00
25072,69245044,Mobile Developer (iOS or Android),London,full-time,permanent,Harvey Nash,IT Jobs,39996,jobs.newstatesman.com,2013-07-14 00:00:00,2013-09-12 00:00:00
25073,69247270,Tax Assistant Manager,Liverpool,non-specified,permanent,NaN,Accounting & Finance Jobs,32004,michaelpage.co.uk,2012-07-11 12:00:00,2012-10-09 12:00:00
25074,69247637,Newly Qualified Assistant Manager Role,London,full-time,permanent,Pro Tax,Accounting & Finance Jobs,42996,icaewjobs.com,2013-06-18 12:00:00,2013-08-17 12:00:00
25075,69247646,Corporate Tax Senior Manager Leeds,Leeds,full-time,permanent,Pro Tax,Accounting & Finance Jobs,67500,icaewjobs.com,2012-08-23 00:00:00,2012-10-22 00:00:00
25076,69247667,Professional Services Financial Accountant,London,full-time,permanent,Pro Finance,Accounting & Finance Jobs,38496,icaewjobs.com,2012-02-09 15:00:00,2012-05-09 15:00:00

## 3. Output

In [27]:
# transfer all column name into Capital and set ID as index of dataframe
ufo.columns = ['Id', 'SourceName','Title','Location','ContractType', 'ContractTime','Company', 'Category', 'SalaryPerAnnum','OpenDate','CloseDate']

ufo.set_index(['Id'], inplace = True)

In [28]:
# ufo.to_csv("C:/Users/XiaoFan/Desktop/5196 wrangling/dataset1_solution.csv", encoding='utf-8')